.outer-row {
    width: 50%;
}

.config-text {
    border-color: #030234;
    color: #04034d;
    padding: 10px;
    font-size: 18px;
  
}

.btn-bid {
    background: #04034d;
    display: block;
    color: #fff;
    width: 100%;
    box-shadow: none;
    border-color: #030234;
    text-align: center;
    white-space: nowrap;
    overflow: visible;
    padding: 10px;
    font-size: 18px;

  }